.first-item
    background-image: url("../img/slider.jpg")
    background-size: cover
    width: 100% !important
    height: 85vh !important
.carousel_content
    width: 40%
    position: absolute
    top: 20vh
    left: 10vw

@media (max-width:430px)
    .carousel_content
        width: 100% !important

.second_item
    background-image: url("../img/slider2.jpg")
    background-size: cover
    width: 100% !important
    height: 85vh !important

.third_item
    background-image: url("../img/slider3.jpg")
    background-size: cover
    width: 100% !important
    height: 85vh !important
.ashom
    width: 50px
    height: 50px
    border-radius: 50%
    // section2
.section2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 5vh

    .up_sectwo
        width: 60%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h1
            width: 80%
            text-align: center
        p
            width: 80%
            text-align: center
    .down_sectwo
        display: flex
        justify-content: center
        div
            width: 30%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            div
                width: 100px
                height: 100px
                font-size: 3vw
                border: 1px solid black
                border-radius: 50%
            h2
                font-weight: bold
            p
                width: 80%
                text-align: center

.secthree
    display: flex
    justify-content: center
    align-items: center
    width: 80px
    height: 80px
    font-size: 2vw
    border: 1px solid white
    border-radius: 50%

.secfoor_video
    video
        width: 100%
.sec5_contact
    button
        border: none
        border-radius: 5px
        padding: 1vw
.sec6-down
    width: 95%
    div
        width: 30%

.sec8-subs
    width: 90%

.sec10
    background-color: #049bffc1
.break-carousel
    background-image: url(../img/client-bg.jpg)
    opacity: 35%
    background-size: cover
    width: 100% !important
    height: 35vh !important

.form
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 3vh
    input
        width: 40%
        padding: 2vh
        border:1px solid #a8a8a8
    select
        width: 40%
        padding: 2vh
        border:1px solid #a8a8a8
        color: #a8a8a8
    textarea
        width: 83%
        padding: 2vh
        border:1px solid #a8a8a8

.form-book
    width: 80%
    display: flex
    align-items: center
    justify-content: space-between
    button
        